@model Graduation.Entities.Card

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LikesNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LikesNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RateNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RateNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextSearch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextSearch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlSlug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlSlug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
