@model Graduation.Models.CardCreateEditViewModel

@{
    ViewData["Title"] = "Cards list";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        .pagination {
            margin: 0;
        }

        .panel {
            margin-bottom: 0;
        }

        .table {
            margin-bottom: 0;
        }

        .panel-body {
            padding: 0;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="row">
            <div class="col-md-6"><a><Strong>Cards List</Strong></a></div>
            <div class="col-md-4">
                <form action="#" method="get">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-2 pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#modalCreate" id="btnCreate"><b>+</b>Create New</a></div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.Raw("Title")
                    </th>
                    <th>
                        @Html.Raw("Content")
                    </th>
                    <th>
                        @Html.Raw("Date Created")
                    </th>
                    <th>
                        @Html.Raw("Is Publish")
                    </th>
                    <th>
                        @Html.Raw("Likes")
                    </th>
                    <th>
                        @Html.Raw("Views")
                    </th>
                    <th>
                        @Html.Raw("Rates")
                    </th>
                    <th class="text-center"><i class="fa fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>
    </div>

    <!-- Modal create or edited-->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Created OR Update</h4>
                </div>
                <div class="modal-body">
                    <form id="frmCard">
                        <div class="form-horizontal">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Category</label>
                                                <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label><input asp-for="IsPublished" />Is Published</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Content" class="control-label"></label>
                                    <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-offset-1">
                                <!--image-->
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" style="display:none;" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="txtUploadFile" class="btn btn-success">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                    </span>
                                    <input type="file" id="files" name="UploadFile" class="form-control" />
                                </div>
                                <img src="~/images/logo/image_default.png" alt="image" id="imgId" class="img-responsive img-radio" />
                                <label asp-for="TextSearch" class="control-label"></label>
                                <input asp-for="TextSearch" class="form-control" />
                                <span asp-validation-for="TextSearch" class="text-danger"></span>
                            </div>
                            <div class="form-group"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="return btnCreate()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col col-xs-4">
            Page 1 of 5
        </div>
        <div class="col col-xs-8">
            <ul id="pagination-demo" class="pagination-sm"></ul>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/card_admin.js"></script>
}
