@model Graduation.Models.CardCreateEditViewModel

@{
    ViewData["Title"] = "Cards list";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        .pagination {
            margin: 0;
        }

        .panel {
            margin-bottom: 0;
        }

        .table {
            margin-bottom: 0;
        }

        .panel-body {
            padding: 0;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="row">
            <div class="col-md-6"><a><Strong>Cards List</Strong></a></div>
            <div class="col-md-4">
                <form action="#" method="get">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-2 pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#modalCreate" id="btnCreate"><b>+</b>Create New</a></div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.Raw("Title")
                    </th>
                    <th>
                        @Html.Raw("Content")
                    </th>
                    <th>
                        @Html.Raw("Date Created")
                    </th>
                    <th>
                        @Html.Raw("Is Publish")
                    </th>
                    <th>
                        @Html.Raw("Likes")
                    </th>
                    <th>
                        @Html.Raw("Views")
                    </th>
                    <th>
                        @Html.Raw("Rates")
                    </th>
                    <th class="text-center"><i class="fa fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>
    </div>

    <!-- Modal create or edited-->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="frmCard" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Created OR Update</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Category</label>
                                                <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label><input asp-for="IsPublished"/>Is Published</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Content" class="control-label"></label>
                                    <textarea asp-for="Content" rows="5" class="form-control"></textarea>
                                    <span asp-validation-for="Content" class="text-danger" />
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-offset-1">
                                <!--image-->
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" style="display:none;" />
                                <span asp-validation-for="ImageUrl" class="text-danger" />
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button id="txtUploadFile" class="btn btn-success">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                    </span>
                                    <input type="file" id="files" name="UploadFile" class="form-control">
                                </div>
                                <div class="input-group">
                                    <img src="http://placehold.it/330x150" alt="image" id="imgId" class="img-responsive img-radio">
                                </div>
                                <!---text search-->
                                <label asp-for="TextSearch" class="control-label"></label>
                                <input asp-for="TextSearch" class="form-control" />
                                <span asp-validation-for="TextSearch" class="text-danger" />
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" onclick="return _save();" id="btnAdd">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer">
    <div class="row">
        <div class="col col-xs-4">
            Page 1 of 5
        </div>
        <div class="col col-xs-8">
            <ul id="pagination-demo" class="pagination-sm"></ul>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $('#pagination-demo').twbsPagination({
            totalPages: 10,
            visiblePages: 4,
            onPageClick: function (event, page) {
                $('#data').html(_getAll());
            }
        });

        $host = location.origin;
        $path="images/cms/news/"
        $id = "";
        function _getAll() {
            $.ajax(
                {
                    url: "/api/cardapi",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        var html = '';
                        $.each(result, function (key, item) {
                            html += '<tr>';
                            html += '<td>' + item.title + '</td>';
                            html += '<td>' + item.content + '</td>';
                            html += '<td>' + item.dateCreated + '</td>';
                            html += '<td align="center">' + '<input type="checkbox" checked=' + item.isPublished + '>' + '</td>';
                            html += '<td>' + item.likesNo + '</td>';
                            html += '<td>' + item.viewNo + '</td>';
                            html += '<td>' + item.rateNo + '</td>';
                            html += '<td align="center"><a class="btn btn-info btn-xs" onclick="return _edit('+item.id+')" ><i class="fa fa-edit"></i></a> ';
                            html += '<a class="btn btn-success btn-xs" ><i class="fa fa-eye"></i></a> ';
                            html += '<a class="btn btn-danger btn-xs" onclick="return _delete(' + item.id + ')"><i class="fa fa-trash"></i></a>';
                            html += '</td></tr>';
                        })
                        $('#data').html(html);
                    },
                    error: function (errMe) {
                        alertify.error(err.responseText);
                    }
                });
            $('#btnAdd').show();
            return false;
        }

        //btn edit
        function _edit(id) {
            $id = id;
            $('#modalCreate').modal('show');
            $.ajax(
                {
                    url: "/api/cardapi/" + id,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        console.log(result.content);
                        //$CateId.val() = result.cateId;
                        $("#Title").attr("value", result.title);
                        document.getElementById("imgId").src = $host + "/" + result.imageUrl;
                        document.getElementById("ImageUrl").value = result.imageUrl.replace($path,"");
                        document.getElementById("IsPublished").checked = result.isPublished;
                        document.getElementById("CateId").value = result.cateId; debugger;
                        document.getElementById("Content").value = result.content;
                        var _tag = "";
                        for (var t in result.tag) {
                            _tag += result.tag[t]+",";
                        }
                        document.getElementById("TextSearch").value = _tag;
                    },
                    error: function (e) {
                        alertify.error("Something wrong");
                    }
                }
                );
        };
        function _save() {

            if ($id.toString().trim()=="") {
                _add();
            }
            else
            {
                _edit($id);
            }

        }
        function _add() {
            var obj = {
                CateId: $("#CateId").val(),
                Title: $("#Title").val(),
                Content: $("#Content").val(),
                ImageUrl: $("#ImageUrl").val(),
                IsPublished: $("#IsPublished").val(),
                TextSearch: $("#TextSearch").val()
            }
            $.ajax({
                url: '/api/cardapi',
                data: JSON.stringify(obj),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alertify.success("Add"+obj.Title+"was success");
                    _getAll();
                    $('#modalCreate').modal('hide');
                },
                error: function (errormessage) {
                    alertify.error(errormessage.responseText);
                }
            });
        }

        //delete
        function _delete(id) {
            alertify.confirm("Are you sure that you want to delete !", function (e) {
                if (e) {
                    // user clicked "ok"
                    $.ajax({
                        url: "/api/cardapi/" + id,
                        type: "DELETE",
                        success: function (resutl) {
                            alertify.success("Successed!");
                            _getAll();
                        },
                        error: function (errormessage) {
                            alertify.error(errormessage.responseText);
                        }
                    })
                } else {
                    // user clicked "cancel"
                }
            });
        }


        //xu ly up anh
        $("#txtUploadFile").click(function (evt) {
            evt.preventDefault();
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length ; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/admin/cards/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    alertify.success(message+"was UPLOADED");
                    $("#imgId").attr("src", "/images/cms/news/" + message);
                    $("#ImageUrl").attr("value", message);
                },
                error: function () {
                    alertify.error("There was error uploading files!");
                }
            });
        });

        $(document).ready(function () {
            _getAll();

        });
    </script>
}
