@model IEnumerable<Graduation.Entities.Card>

@{
    ViewData["Title"] = "Danh sách thi?p";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        .pagination {
            margin: 0px;
        }
        .panel {
            margin-bottom: 0px;
        }

        .table {
            margin-bottom: 0;
        }
        .panel-body {
            padding: 0;
        }
    </style>
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="row">
            <div class="col-md-6"><a><Strong>List cards</Strong></a></div>
            <div class="col-md-4">
                <form action="#" method="get">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-2 pull-right"><a class="btn btn-primary" asp-action="Create"><b>+</b>Create New</a></div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LikesNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RateNo)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.TextSearch)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UrlSlug)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ViewNo)
                    </th>
                    <th class="text-center"><i class="fa fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LikesNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RateNo)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.TextSearch)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UrlSlug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewNo)
                        </td>
                        <td align="center">
                            <a asp-action="Edit" class="btn btn-info btn-xs" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                            <a asp-action="Details" class="btn btn-success btn-xs" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
                            <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col col-xs-4">
                Page 1 of 5
            </div>
            <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
                <ul class="pagination visible-xs pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
